<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand"></a>
  <i class="fas fa-sign-out"></i>


  <form class="form-inline">
    <div class="btn-group" style="margin-right: 0px;">
      <div type="button" class="btn btn1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-bell"></i><span class="badge badge-light">9</span>
      </div>

<div class="dropdown-menu">
<a class="dropdown-item" href="#"><div class="alert alert-primary" role="alert">
This is a primary alert with <a href="#" class="alert-link">an example link</a>.
</div></a>

<a class="dropdown-item" href="#">
<div class="alert alert-primary" role="alert">
This is a primary alert with <a href="#" class="alert-link">an example link</a></div></a>


<a class="dropdown-item" href="#">
<div class="alert alert-primary" role="alert">
This is a primary alert with <a href="#" class="alert-link">an example link</a>.
</div></a>

<a class="dropdown-item" href="#">
<div class="alert alert-primary" role="alert">
 This is a primary alert with <a href="#" class="alert-link">an example link</a></div>
</a>



</div>
    </div>


    <div class="btn-group">
      <div type="button" class="btn btn1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-comments"></i><span class="badge1 badge-danger">9</span>
      </div>

      <div class="dropdown-menu">
        <a class="dropdown-item" href="#"><div class="alert alert-primary" role="alert">
        This is a primary alert with <a href="#" class="alert-link">an example link</a>.
        </div></a>

        <a class="dropdown-item" href="#">
        <div class="alert alert-primary" role="alert">
        This is a primary alert with <a href="#" class="alert-link">an example link</a></div></a>


        <a class="dropdown-item" href="#">
        <div class="alert alert-primary" role="alert">
        This is a primary alert with <a href="#" class="alert-link">an example link</a>.
        </div></a>

        <a class="dropdown-item" href="#">
        <div class="alert alert-primary" role="alert">
         This is a primary alert with <a href="#" class="alert-link">an example link</a></div>
        </a>



        </div>

        <button type="button" class="btn btn-secondary btn-sm big" (click)="log.logout()"><i class="fa fa-power-off fa_custom"></i>  &nbsp;Signout</button>
    </div>
  </form>
  </nav>
