<div [className]="'container'">
  <div [className]="'row justify-content-center align-items-center'">
    <div [className]="'col-md-6 login-box'">
      <div [className]="'col-md-12 heading'"><br>
        <h2>Recover Password</h2>
      </div>
      <hr [className]="'hrColor'" />
      <p>Don't worry, happens best of us.</p>
      <div [className]="'col-md-12 loginForm'">
        <span>Username or Email</span><br><br>
        <input type="search" placeholder="Email"/>
        <input type="submit" value="Email me a Recovery link" routerLink="#" style="color: white;"/>
      </div>
    </div>
  </div>
</div>
