
<div style="margin-bottom: 10px;">
  <nav class="navbar navbar-light border">
    <a class="navbar-brand" style="font-weight: bold; font-size: 15px;">Admin / <span style="color: red;">Employee List</span></a>
    <!-- <form> -->
      <div  class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

      </div>
    <!-- </form> -->
  </nav>
</div>

<div class="container-fluid">
  <div class="row">
  <div class="col-md-12">

    <div class="card scrool ">
      <div class="card-body" style="">



        <div class="card"  *ngFor = "let t of taskks">
          <div class="card-header">
            Employee Id: {{t._id}}
          </div>
          <div class="card-body">
            <h5 class="card-title">{{t.first_name}}</h5>
            <p class="card-text">- {{t.email}}</p>
            <a class="btn btn-primary" (click)="viewTask(t._id)" id ="aa" >View Details</a> &nbsp; &nbsp;
            <a class="btn btn-danger" (click)="deleteTask(t._id)" id ="aa" >Delete User</a>

          </div>
        </div>
        <br>
        <br>




      </div>
    </div>



  </div>

</div>

</div>
